@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
    --bg-black-900:#fff;
    --bg-black-100:#3D3D3D;
    --bg-black-50:#e8dfec;
    --text-black-900:#fdfdfd;
    --text-black-700: #504e70;
}

:root
{
    --skin-color:#ec1839;
}

body
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after
{
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.main-content
{
    padding-left: 320px;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover
{
    transform: scale(1.05);
}

/* Aside */
.aside
{
    width: 330px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.rd{
    height: auto;
    margin-left: -20px;
    width: 150px;
}

.aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background-color: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav
{
    margin-top: 100px;
    margin-left: -25px;
    text-align: left;
}

.aside .nav li {
    display: block;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
}

.aside .nav li:hover {
    transform: scale(1.2); /* Zooms in the entire <li> when hovered */
}

.aside .nav li a
{
    font-size: 20px;
    font-weight: 600;
    display: block;
    /* border-bottom: 1px solid var(--bg-black-50); */
    color: var(--text-black-900);
    padding:15px;
    transition: transform 0.3s ease-in-out;
}

.aside .nav li a :hover{
    transform: scale(1.2); 
}


.aside .nav li a.active
{
    color: var(--skin-color);
    font-size: 30px;
}

.aside .nav li a i
{
    margin-right: 15px;
}

/* Home */
.home
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: var(--text-black-900);
}

.main-content{

}

.dtbx{
    width: 100%;
}

.donate{
    width: 100%;
    margin-top: 25px;
    border-radius: 10px;
}

.rwds{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: larger;
    margin-bottom: 50px;
}

.seto{
    display: flex;
    flex-direction: row;
    max-height: 200px;
}
.seto .r{
    margin-top: 60px;
}

.blue{
    color: rgb(65, 132, 158);
}

.cds{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15%;
    margin-top: 20px;
}

.one, .two, .three {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: safe;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rp, .eg, .cp{
    height: 200px;
}

.down{
    width: 100%;
}

.dl{
    width: 100%;
    border-radius: 10px;
}

.diff{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15%;
    font-size: larger;
    margin-top: 50px;
    color: #000;
}

.diff h3{
    font-size: 40px;
}

.set{
    display: flex;
    flex-direction: row;
    gap: 4.5%;
    height: 400px;
}

.k{
    font-size: larger;
}

.d1, .d2, .d3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: safe;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.frm{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #000;
    display: flex;
    flex-direction: row;
    gap: 1%;
    height: auto;
    width: 100%;
}

.le{
    width: 40%;
    font-size: large;
    font-weight: 300;
    align-items: center;
    justify-content: center;
}
.le h4{
    font-size: 40px;
}
.lep{
    font-size: large;
    color: gray;
}

.ri{
    width: 60%;
    height: auto;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: larger;
    border: #000 3px solid;
}
.ri h3{
    padding: 10px;
}
.ri form{
    display: flex;
    flex-direction: column;
    font-size: larger;
}
.ri form label{
    font-size: 20px;
    font-weight: 300;
    margin-left: 20px;
    color: #000;
}
.ri form input{
    margin-bottom: 15px;
    width: 95%;
    margin: 7.5px auto;
}
.ri form button{
    background-color: #ec1839;
    color: #000;
    width: 95%;
    margin: 5.5px auto;
    height: 40px;
    font-size: large;
    margin-top: 15px;
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
}
.ri form p{
    font-size: 15px;
    color: gray;
    margin-left: 23px;
}